<div style="width: 60%; margin: auto;">
    <form>
        <!--<span class="mx-2">Filter:</span>
        <input type="radio" class="form-check-input"
            name="All-courses" value="All-courses" id="All-courses">
        <label for="All-courses" class="mx-2">All-Courses({{this.all}})</label > 

        <input type="radio" class="form-check-input "
            name="free-courses" value="free-courses" id="Free-Courses">
        <label for="Free-Courses" class="mx-2">Free-Courses({{this.free}})</label>
        
        <input type="radio" class="form-check-input "
            name="Not-Free-Courses" value="Not-Free-Courses" id="Not-Free-Courses">
        <label for="Not-Free-Courses" class="mx-2">Not-Free-Courses({{notFree}})</label>-->
        
        <div class="row">
            <div class="col-2 text-end"><b>Filter:</b></div>
            <div class="col">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="Courses" id="All-Courses" checked>
                    <label class="form-check-label" for="All-Courses">
                        All-Courses
                    </label>
                </div>
            </div>
            <div class="col">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="Courses" id="Free-Courses" >
                    <label class="form-check-label" for="Free-Courses">
                        Free-Courses
                    </label>
                </div>
            </div>
            <div class="col">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="Courses" id="Not-Free-Courses">
                    <label class="form-check-label" for="Not-Free-Courses">
                        Not-Free-Courses
                    </label>
                </div>
            </div>
        </div>
    </form>
</div>
