<div class="container bg-light p-3">
    <div class="card my-3"  style="width: 18rem;">
        <div class="card-header">
            <img src="../../assets/Angular.png" class="card-img-top" height="200px">
        </div>
        <div class="card-body">
            <h5 class="card-title text-center">Card title</h5>
            <p class="card-title">we,re going to teach yo angular from basic to advance</p>
            <div class="row align-items-center">
                <div class="col"><h6 class="text-center">Free</h6></div>
                <div class="col"><p class="fs-3"><b>Price</b></p></div>
            </div>
            <div class="row">
                <div class="col"><button class="btn btn-success" style="width: 100%;">Buy</button></div>
                <div class="col"><button class="btn btn-secondary" style="width: 100%;">details</button></div>
            </div>
        </div>
    </div>
</div>
